<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas API Books">
    <test name="Todos los tests de books">
        <parameter name="userId" value="2"/>
        <classes>
            <class name="APITests.BooksAPITests">
                <methods>
                    <include name=".*" />
                </methods>
            </class>
        </classes>
    </test>
    <groups>
        <run>
            <include name="API Books"/>
        </run>
    </groups>
</suite>